@using Theater.Models.Plays
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Order>

@{

    List<DatePlay> dates = ViewBag.Dates;
    List<Play> plays = ViewBag.Plays;

    DatePlay dateForOrder = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Cart</title>
</head>
<body>

    @if (Model.Count != 0)
            {
                using (Html.BeginForm("DeleteOrder", "Plays", FormMethod.Post, new { @class = "form-horizontal" }))
                {

            <table class="table table-striped table-hover sortable">
                <thead>
                    <tr>
                        <th>@Resources.Resource.Play</th>
                        <th>@Resources.Resource.Date</th>
                        <th>@Resources.Resource.Category</th>
                        <th>@Resources.Resource.Quantity</th>
                        <th>@Resources.Resource.Price</th>
                        <th>@Resources.Resource.StatusOrder</th>
                        <th>@Resources.Resource.Cancel</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td>
                                @foreach (var play in plays)
                                {
                                    foreach (var date in dates)
                                    {
                                        if (date.PlayId == play.Id && date.Id == order.DateId)
                                        {
                                            dateForOrder = date;
                                            @play.Name
                                            break;
                                        }
                                    }
                                }
                            </td>
                            <td>
                                @dateForOrder.Date.ToShortDateString()
                            </td>
                            <td>@order.Category</td>
                            <td>@order.Quantity</td>
                            <td>@order.Price</td>
                            <td>@order.Status</td>
                            <td>
                                @if (order.Status != StatusOrder.Completed)
                                {
                                    <button name="orderId" value=@order.Id type="submit" class="btn btn-primary">@Resources.Resource.Cancel</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
    else
    {
        <h3>@Resources.Resource.NoOrders</h3>
    }
    <div class="row">
        <div class="col-lg-5">
            @using (Html.BeginForm("GetOrders", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">@Resources.Resource.Tickets</span>
                                <input name="countTickets" type="number" class="form-control">

                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">@Resources.Resource.Search</button>
                                    <a href="/Account/Cart" class="btn btn-primary">@Resources.Resource.Cancel</a>
                                </span>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        </div>
    </div>
    @Resources.Resource.Page @(Model.PageCount < Model.PageNumber ? Model.PageCount : 1) @Resources.Resource.of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Cart", "Account", new { page }))
</body>
</html>
